.noClickEvent
{
  pointer-events: none
}

.preserveWhiteSpace
{
  white-space: pre
}

.wrapText
{
  white-space: wrap !important
}

.noWrapText
{
  white-space: nowrap !important
}

.horizontalScroll
{
  overflow-x: auto
}

.copyAddressButton 
{
    margin: 0px;
    width: 100% !important;
    font-weight: bold
}

.widthOverFlow
{
  overflow-x: auto;
}

.copyAddressButton:hover
{
  text-decoration: underline;
  text-decoration-color: var(--ion-color-light);
  text-decoration-thickness: 2px;
  opacity: 1
}