* 
{
  font-family: Lucida Console;
  text-transform: none
}

@font-face 
{
  font-family: 'SansPlate';
  font-style: normal;
  font-weight: normal;
  src: url('/sans-plate-caps.regular.ttf')
}  

@font-face 
{
  font-family: 'MetalGear';
  font-style: normal;
  font-weight: normal;
  src: url('/metal-gear.ttf')
}

@font-face 
{
  font-family: 'SuperMagic';
  font-style: normal;
  font-weight: normal;
  src: url('/SuperMagic.ttf')
}  

.content 
{
  font-size: min(5vw, 20px)
}

.standardFontSize
{
  font-size: min(4vw, 17px)
}

.metal 
{
  font-family: MetalGear;
  font-size: 17px
}

.super 
{
  font-family: SuperMagic;
  font-size: 17px
}

h1 
{
  font-size: min(7vw, 42px);
  text-decoration: underline;
  font-weight: bold
}

h2 
{
  font-size: min(5vw, 30px);
  font-weight: bold;
  margin-bottom: 20px
}

h3
{
  font-size: min(4vw, 27px);
  font-weight: bold;
  margin-bottom: 25px
}

h4
{
  font-size: min(4vw, 25px);
  font-weight: bold;
  margin-bottom: 25px
}

p, a, button, ion-text, ion-label
{
  font-size: min(4vw, 15px)
}

td, th
{
  font-size: min(4vw, 15px)
}

ion-textarea, ion-input
{
  font-size: min(5vw, 15px) !important
}

.emojiText
{
  font-size: min(8vw, 27px) !important
}

.emojiTextSmaller
{
  font-size: min(5vw, 22px) !important
}