.invalid
{
  color: var(--ion-color-red) !important
}

.negative 
{
  color: var(--ion-color-red) !important
}

.positive 
{
  color: var(--ion-color-green) !important
}

.selfVoteBackground > ion-button > ion-label
{
  color: var(--ion-color-white) !important
}

td:has(.selfVoteBackground) 
{
  background-color: var(--ion-color-darkgray) !important
}

iframe 
{
  border: none;
  border-radius: 10px
}

.thinBorder
{
  /*border: thin, solid*/
  border: thin solid var(--ion-color-dark) /*Color specified here for map hospital note popup border*/
}

.thickBorder
{
  /*border: thick, solid*/
  border: thick solid
}

.thinBorderTop
{
  border-top: thin solid;
  border-radius: 0px
}

.thinBorderBottom
{
  border-bottom: thin solid;
  border-radius: 0px
}

div
{
  border-radius: 17px
}

.underLine
{
  text-decoration: underline
}

.thickUnderLine
{
  text-decoration: underline;
  text-decoration-thickness: 4px
}

.bold
{
  font-weight: bold
}

ion-textarea
{
  padding-top: 20px;
}

.emojiButton
{
  font-size: 30px;
  margin: 0px;
  padding: 0px;
  width: 51px
}

.kaomojiButton
{
  font-size: 27px
}

.alert-button
{
  color: var(--ion-color-green) !important
}

.alert-input.sc-ion-alert-md:focus 
{
  margin-bottom: 4px !important;
  border-bottom: 2px solid var(--ion-color-green) !important
}

.fullWidthButton
{
  margin: 0px;
  width: 100% !important;
  font-weight: bold
}

#videoFlipButton
{
  background: none
}

.horizontalLine
{
  width: 100%;
  height: 1px;
  background-color: light-dark(#000000, #ffffff)
}

.lendingActionPopoverContainer
{
  border: thin solid var(--ion-color-dark);
  border-radius: 4px
}

 .lendingActionPopoverContainer > ion-popover
{
  --width: min(94vw, 144px)
}
